@import 'tailwindcss';
@import './base.css';

@theme {
  --color-background: #181818;
  --color-text: rgba(235, 235, 235, 0.64);
  --color-elmwood: #ff7f27;
  --color-ashley: #FF0000;
  --color-chelsea: #FF8F00;
  --color-chloe: #b05902;
  --color-ella: #29CC38;
  --color-florence: #075BCD;
  --color-jordan: #002C66;
  --color-katie: #FF00FF;
  --color-lydia: #FF007C;
  --color-molly: #FF59AF;
  --color-naomi: #ffc478;
  --color-nina: #ababab;
  --color-paris: #FFC500;
  --color-saki: #00D4FF;
  --color-selina: #B30E0E;
  --color-tasha: #FBFF00;
  --color-taylor: #7515B8;
  --color-veronika: #00a819;
  --color-violet: #000000;

  --color-kat: #008dc9;
  --color-vivian: #923F5C;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  svg {
    height: 50px;
  }
  svg, path {
    fill: #ffffff;
    transition: fill 0.15s ease-in-out;
  }
  &:hover {
    svg, path {
      fill: #ffffffaa;
    }
  }
}

.hamburger {
  padding: 15px 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &, &::before, &::after {
        width: 40px;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        /*transition-duration: 0.15s;*/
        /*transition-timing-function: ease;*/
      }
      &::before, &::after {
        content: "";
        display: block;
      }
      &::before {
        top: -10px;
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
      }
      &::after {
        bottom: -10px;
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
  }

  &.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }
    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
