@import 'tailwindcss';
@import './base.css';

@theme {
  --color-background: #181818;
  --color-elmwood: #ff7f27;
  --color-ashley: #FF0000;
  --color-chelsea: #FF8F00;
  --color-chloe: #b05902;
  --color-ella: #29CC38;
  --color-florence: #075BCD;
  --color-jordan: #002C66;
  --color-katie: #FF00FF;
  --color-lydia: #FF007C;
  --color-molly: #FF59AF;
  --color-naomi: #ffc478;
  --color-nina: #ababab;
  --color-paris: #FFC500;
  --color-saki: #00D4FF;
  --color-selina: #B30E0E;
  --color-tasha: #FBFF00;
  --color-taylor: #7515B8;
  --color-veronika: #00a819;
  --color-violet: #000000;

  --color-kat: #008dc9;
  --color-vivian: #923F5C;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
